// import fonts
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');

// import variables
@import '../variables/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body_bg;
  font-family: 'Epilogue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
a,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

span,
a {
  display: inline-block;
}

a {
  text-decoration: none;
}
