// import variables & mixins
@import '../variables/variables';
@import '../mixins/fontStyles';
@import '../mixins/flexItem';
@import '../extended/overlay';

#blogs {
  margin-top: 80px;
  border-bottom: 1px solid $border_color;
  .blog__card__container {
    @include flex_item(center, center);
    flex-wrap: wrap;
    .blog__card {
      width: 370px;
      margin-bottom: 68px;
      margin-left: 30px;
      &:nth-child(1),
      &:nth-child(4) {
        margin-left: 0;
      }
      .blog__image {
        height: 224px;
        border-radius: $border_radius;
        overflow: hidden;
        position: relative;
        &::after {
          @extend %over__lay;
        }
      }
      .blog__description {
        margin-top: 26px;
        h6 {
          @include font_styles(20px, 400, 32px, 0, $dark_text);
        }
        h4 {
          @include font_styles(24px, 700, 32px, 0, $dark_text);
          margin: 15px 0;
        }
        p {
          @include font_styles(16px, 400, 32px, 0, $dark_paragraph);
        }
      }
    }
  }
  #load__more {
    @include flex_item(center, center);
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 688px) {
  #blogs {
    .blog__card__container {
      .blog__card {
        width: 370px;
        .blog__image {
          height: 224px;
        }
        .blog__description {
          h4 {
            @include font_styles(24px, 700, 32px, 0, $dark_text);
            margin: 19px 0 12px 0;
          }
        }
      }
    }
  }
}
