// import variables & mixins
@import '../variables/variables';
@import '../mixins/fontStyles';
@import '../mixins/flexItem';

header {
  background-color: $header_bg;
  position: relative;
  #navigation {
    @include flex_item(space-between, center);
    ul {
      @include flex_item(center, center);
      margin-top: 16px;
      height: 32px;
      li {
        height: 100%;
        a {
          @include font_styles(16px, 400, 32px, 0, $white_text);
          img {
            width: 152px;
          }
        }
        #contact__btn {
          @include flex_item(center, center);
          height: 48px;
          width: 138px;
          border-radius: $border_radius;
          border: 1px solid #ffffff4b;
        }
      }
    }
    input {
      display: none;
    }
    label {
      border-radius: $border_radius;
      position: absolute;
      right: 10px;
      top: 10px;
      height: 48px;
      width: 48px;
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      color: $white_text;
      font-size: 16px;
      border: 1px solid #ffffff4b;
      @include flex_item(center, center);
    }

    .nav__links {
      @include flex_item(space-between, center);
      margin-top: 28px;
      width: 515px;
      li {
        &:nth-child(5) {
          display: none;
        }
        .contact__btn {
          height: 48px;
          width: 138px;
          border-radius: $border_radius;
          border: 1px solid #ccc2c2;
          display: none;
          text-align: center;
          line-height: 48px;
        }
      }
    }
  }
  #hero__area {
    @include flex_item(center, center);
    margin-top: 104px;
    flex-direction: column;
    text-align: center;
    h1 {
      @include font_styles(72px, 800, 80px, -2px, $white_text);
      margin-bottom: 24px;
    }
    p {
      @include font_styles(16px, 400, 32px, 0, $light_text);
      width: 570px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 66px;
    }
  }
}

@media only screen and (max-width: 688px) {
  header {
    #hero__area {
      margin-top: 87px;
      h1 {
        @include font_styles(56px, 800, 64px, -1px, $white_text);
        margin-bottom: 12px;
      }
      p {
        width: 100%;
        margin-bottom: 87px;
      }
    }
  }
}
