// import variables & mixins
@import '../variables/variables';
@import '../mixins/fontStyles';
@import '../mixins/flexItem';
@import '../extended/overlay';

#newsletter {
  margin-top: 60px;
  border-bottom: 1px solid $border_color;
  padding-bottom: 64px;
  @include flex_item(space-between, center);
  h3 {
    @include font_styles(40px, 800, 48px, 0, $dark_text);
  }
  form {
    input {
      width: 370px;
      height: 48px;
      background-color: $white_text;
      border: 1px solid $border_color;
      border-radius: $border_radius;
      padding: 9px 16px 7px 16px;
      font-family: inherit;
      margin-right: 30px;
      &:focus {
        outline: 0;
      }
      &::placeholder {
        @include font_styles(16px, 400, 32px, 0, $dark_paragraph);
        font-family: Epilogue;
      }
    }
  }
}
