@mixin font_styles($fontSize, $fontWeight, $lineHeight, $letterSpacing, $clr) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $clr;
}
