/* 
    reset css
*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdf0e9;
  font-family: 'Epilogue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
a,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

span,
a {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* 
    common classes
*/
.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 92%;
  }
}

/* 
    header css

*/
header {
  background-color: #28293e;
}

header #navigation {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  height: 32px;
}

header #navigation ul li {
  height: 100%;
}

header #navigation ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #ffffff;
}

header #navigation ul li a img {
  width: 152px;
}

header #navigation ul li #contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 138px;
  border-radius: 6px;
  border: 1px solid #ffffff4b;
}

header #navigation .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  width: 515px;
}

header #navigation .nav__links li {
  height: 100%;
}

header #hero__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 104px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #hero__area h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  color: #ffffff;
  margin-bottom: 24px;
}

header #hero__area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #ffffffa3;
  width: 570px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 66px;
}

/* 
    category css
*/
#category .category__card .category__image::after, #blogs .blog__card .blog__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5c2000;
  opacity: 0.32;
}

#category {
  margin-top: 80px;
  border-bottom: 1px solid #f3d1bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category .category__card {
  margin-right: 30px;
  max-width: 570px;
}

#category .category__card .category__image {
  height: 336px;
  position: relative;
  margin-bottom: 26px;
  border-radius: 6px;
  overflow: hidden;
}

#category .category__card .category__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#category .category__card .category__description {
  margin-bottom: 68px;
}

#category .category__card .category__description h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

#category .category__card .category__description h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0;
  color: #391400;
  margin: 19px 0 12px 0;
}

#category .category__card .category__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
}

/* 
    blogs css
*/
#category .category__card .category__image::after, #blogs .blog__card .blog__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5c2000;
  opacity: 0.32;
}

#blogs {
  margin-top: 80px;
  border-bottom: 1px solid #f3d1bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blogs .blog__card {
  width: 370px;
  margin-bottom: 68px;
  margin-left: 30px;
}

#blogs .blog__card:nth-child(1), #blogs .blog__card:nth-child(4) {
  margin-left: 0;
}

#blogs .blog__card .blog__image {
  height: 224px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

#blogs .blog__card .blog__description {
  margin-top: 26px;
}

#blogs .blog__card .blog__description h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

#blogs .blog__card .blog__description h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
  margin: 15px 0;
}

#blogs .blog__card .blog__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
}

#load__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#load__more button {
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0;
  color: #391400;
  background-color: #fff;
  text-align: center;
  height: 48px;
  width: 170px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
          box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border: 0;
  outline: 0;
  cursor: pointer;
}
