/* 
    reset css
*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdf0e9;
  font-family: 'Epilogue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
a,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

span,
a {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* 
    common classes
*/
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.white__btn {
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0;
  color: #391400;
  background-color: #ffffff;
  text-align: center;
  height: 48px;
  width: 170px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
          box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border: 0;
  cursor: pointer;
}

.white__btn:focus {
  outline: 0;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

/* 
    header css

*/
header {
  background-color: #28293e;
  position: relative;
}

header #navigation {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  height: 32px;
}

header #navigation ul li {
  height: 100%;
}

header #navigation ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #ffffff;
}

header #navigation ul li a img {
  width: 152px;
}

header #navigation ul li #contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 138px;
  border-radius: 6px;
  border: 1px solid #ffffff4b;
}

header #navigation input {
  display: none;
}

header #navigation label {
  border-radius: 6px;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 48px;
  width: 48px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #ffffff4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navigation .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  width: 515px;
}

header #navigation .nav__links li {
  height: 100%;
}

header #navigation .nav__links li .contact__btn {
  height: 48px;
  width: 138px;
  border-radius: 6px;
  border: 1px solid #ccc2c2;
  display: none;
  text-align: center;
  line-height: 48px;
}

header #hero__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 104px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header #hero__area h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  color: #ffffff;
  margin-bottom: 24px;
}

header #hero__area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #ffffffa3;
  width: 570px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 66px;
}

@media only screen and (max-width: 688px) {
  header #hero__area h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
  }
  header #hero__area p {
    width: 100%;
  }
}

/* 
    category css
*/
#category .category__card .category__image::after, #blogs .blog__card__container .blog__card .blog__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5c2000;
  opacity: 0.32;
}

#category {
  margin-top: 80px;
  border-bottom: 1px solid #f3d1bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category .category__card {
  margin-right: 30px;
  max-width: 570px;
}

#category .category__card .category__image {
  height: 336px;
  position: relative;
  margin-bottom: 26px;
  border-radius: 6px;
  overflow: hidden;
}

#category .category__card .category__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#category .category__card .category__description {
  margin-bottom: 68px;
}

#category .category__card .category__description h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

#category .category__card .category__description h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0;
  color: #391400;
  margin: 19px 0 12px 0;
}

#category .category__card .category__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
}

@media only screen and (max-width: 1200px) {
  #category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #category .category__card {
    max-width: 450px;
  }
  #category .category__card:nth-child(2) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 688px) {
  #category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #category .category__card {
    width: 100%;
  }
  #category .category__card:nth-child(2) {
    margin-right: auto;
  }
  #category .category__card .category__image {
    height: 224px;
  }
  #category .category__card .category__description h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    color: #391400;
    margin: 19px 0 12px 0;
  }
}

/* 
    blogs css
*/
#category .category__card .category__image::after, #blogs .blog__card__container .blog__card .blog__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5c2000;
  opacity: 0.32;
}

#blogs {
  margin-top: 80px;
  border-bottom: 1px solid #f3d1bf;
}

#blogs .blog__card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blogs .blog__card__container .blog__card {
  width: 370px;
  margin-bottom: 68px;
  margin-left: 30px;
}

#blogs .blog__card__container .blog__card:nth-child(1), #blogs .blog__card__container .blog__card:nth-child(4) {
  margin-left: 0;
}

#blogs .blog__card__container .blog__card .blog__image {
  height: 224px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

#blogs .blog__card__container .blog__card .blog__description {
  margin-top: 26px;
}

#blogs .blog__card__container .blog__card .blog__description h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

#blogs .blog__card__container .blog__card .blog__description h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
  margin: 15px 0;
}

#blogs .blog__card__container .blog__card .blog__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
}

#blogs #load__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

@media only screen and (max-width: 688px) {
  #blogs .blog__card__container .blog__card {
    max-width: 370px;
    margin-left: auto;
  }
  #blogs .blog__card__container .blog__card .blog__image {
    height: 224px;
  }
  #blogs .blog__card__container .blog__card .blog__description h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    color: #391400;
    margin: 19px 0 12px 0;
  }
}

@media only screen and (max-width: 380px) {
  #blogs .blog__card__container .blog__card {
    width: 100%;
  }
}

/* 
    newsletter css
*/
#newsletter {
  margin-top: 60px;
  border-bottom: 1px solid #f3d1bf;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newsletter h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0;
  color: #391400;
}

#newsletter form input {
  width: 370px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #f3d1bf;
  border-radius: 6px;
  padding: 9px 16px 7px 16px;
  font-family: inherit;
  margin-right: 30px;
}

#newsletter form input:focus {
  outline: 0;
}

#newsletter form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
  font-family: Epilogue;
}

#newsletter form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
  font-family: Epilogue;
}

#newsletter form input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
  font-family: Epilogue;
}

#newsletter form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
  font-family: Epilogue;
}

@media only screen and (max-width: 992px) {
  #newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #newsletter form {
    margin-top: 35px;
    width: 100%;
  }
  #newsletter form input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  #newsletter form button {
    width: 100%;
  }
}

/* 
    contact css
*/
#contact__us {
  margin-top: 111px;
  background-color: #ef6d58;
  padding: 41.25px 100px 71px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

#contact__us .contact__content {
  width: 470px;
  margin-right: 70px;
}

#contact__us .contact__content h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  color: #ffffff;
}

#contact__us .contact__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #ffffffa3;
  margin: 28px 0 52px 0;
}

#contact__us .contact__image {
  width: 443.749755859375px;
}

#contact__us .contact__image img {
  height: 431.749755859375px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 992px) {
  #contact__us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 32px 27px 48px 29px;
  }
  #contact__us .contact__image {
    width: 100%;
    margin: 0 auto 37px auto;
    text-align: center;
  }
  #contact__us .contact__image img {
    height: 400px;
  }
  #contact__us .contact__content {
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 688px) {
  #contact__us {
    padding: 32px 27px 48px 29px;
  }
  #contact__us .contact__image img {
    height: 264px;
    width: 273px;
  }
  #contact__us .contact__content {
    margin-right: 0;
    width: 100%;
  }
  #contact__us .contact__content h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0;
    color: #ffffff;
  }
}

/* 
    footer css
*/
footer {
  margin-top: 89px;
}

footer .footer__items {
  padding: 89px 0 68px 0;
  border-bottom: 1px solid #f3d1bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

footer .footer__items .footer__title {
  margin-right: 210px;
}

footer .footer__items .footer__title h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

footer .footer__items .footer__menu {
  margin-right: 248px;
}

footer .footer__items .footer__menu h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: #ef6d58;
  margin-bottom: 16px;
}

footer .footer__items .footer__menu ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

footer .footer__items .social__link {
  width: 100%;
}

footer .footer__items .social__link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

footer .footer__items .social__link ul li {
  margin-right: 8px;
}

footer .footer__items .social__link ul li:nth-child(3) {
  margin-right: 0;
}

footer .footer__items .social__link ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__items .social__link ul li a i {
  height: 48px;
  width: 48px;
  background-color: #ef6d58;
  border-radius: 50%;
  color: #fff;
  line-height: 48px;
  text-align: center;
}

footer .copyright {
  padding: 43px 0 52px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400a3;
}

footer .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright ul li {
  margin-left: 68px;
}

footer .copyright ul li:nth-child(1) {
  margin-left: 0;
}

footer .copyright ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  color: #391400;
}

@media only screen and (max-width: 1200px) {
  footer .footer__items {
    padding: 89px 0 64px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer__items .footer__title,
  footer .footer__items .footer__menu,
  footer .footer__items .social__link {
    width: 300px;
    margin-right: 0;
  }
  footer .footer__items .social__link {
    margin-top: 50px;
  }
  footer .footer__items .social__link ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (max-width: 688px) {
  footer {
    text-align: center;
  }
  footer .footer__items {
    padding: 105px 0 64px 0;
  }
  footer .footer__items .footer__title,
  footer .footer__items .footer__menu,
  footer .footer__items .social__link {
    width: 100%;
  }
  footer .footer__items .footer__title {
    margin-bottom: 51px;
  }
  footer .footer__items .footer__menu {
    margin-bottom: 48px;
  }
  footer .footer__items .footer__menu2 {
    margin-bottom: 52px;
  }
  footer .footer__items .social__link {
    margin-top: 0;
  }
  footer .footer__items .social__link ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright {
    padding: 43px 0 52px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .copyright p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    color: #391400a3;
    width: 198px;
    margin: 0 auto;
  }
  .copyright ul {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright ul li {
    margin-left: 68px;
  }
  .copyright ul li:nth-child(1) {
    margin-left: 0;
  }
  .copyright ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    color: #391400;
  }
}
